[submodule ".config/i3/conkybar/github-notification-number"]
	path = .config/i3/conkybar/github-notification-number
	url = git@github.com:ExcaliburZero/github-notification-number.git
[submodule ".bash/git-aware-prompt"]
	path = .bash/git-aware-prompt
	url = git@github.com:jimeh/git-aware-prompt.git
